/*
header, footer {
    font-size: 13px;
    color: #69738c;
    display: flex;
    justify-content: flex-end;
}

.header_menu > li,
.footer_menu > li {
    display: inline-block;
    padding: 15px 20px;
}

.header_menu > li:not(:last-child)::after {
    position: relative;
    left: 22px;
    content: '•';
    font-size: 16px;
    color: #202737;
}



.footer_menu {
    color: white;
}

.footer_menu > li {
    background-color: #1f2637;
}*/

header, footer {
    font-size: 13px;
    color: #69738c;
    display: flex;
    justify-content: flex-end;
}

.blue-menu {
    display: flex;
    flex-flow: row;
}

.blue-menu > li {
    cursor: pointer;
    padding: 15px 20px;
    display: block;
}

.blue-menu li:last-child{
    color: white;
    background-color: #15a4fa;
}

.blue-menu li:last-child:hover{
    color: #69738c;
}

.blue-menu li:not(:last-child):hover{
    color: #15a4fa;
}

.header_menu > li{
    position: relative;
}

.header_menu > li:first-child::after {
    position: absolute;
    right: -3px;
    top: 12px;
    content: '•';
    font-size: 16px;
    color: #202737;
}

.header_menu__user-info{
    position: relative;
/*    position: relative;
    top: -10px;
    right: 6px;*/

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menu__user-info .avatar{
    position: absolute;

    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid white;
}

.header_menu__user-nickname{
    margin-left: 45px;
    margin-right: 9px;
}

.footer_menu > li{
    background-color: #1f2637;
    color: white;
}
