/*
#dedede - #d2d2d2
#c4c4c4 - #afafafc9
*/

.shadow_button {
    display: inline-block;
    padding: 4px;
    background-color: #cbcbcb;
    border-radius: 12px;
    box-shadow: 0 0 0 2px white, 0 0 0 4px #6f6f6f;
}

.stars_button {
    position: relative;

    min-width: 185px;
    height: 40px;
    font-size: 15px;
    border: 0.8px solid rgb(161, 161, 161);
    outline: none;
    background-image: -moz-linear-gradient(#dedede, #d2d2d2 50%, #c4c4c4 20%, #afafafc9);
    background-image: -webkit-linear-gradient(#dedede, #d2d2d2 50%, #c4c4c4 20%, #afafafc9);
    background-image: -o-linear-gradient(#dedede, #d2d2d2 50%, #c4c4c4 20%, #afafafc9);
    border-radius: 9px;
    box-shadow: 2px 2px 7px 0px #00000091;
}


.stars_button span {
    position: relative;
    color: #555555;
    font: 1.2em sans-serif;
    text-shadow: 0px 0.5px 0.5px #ffffffd6;
    text-transform: uppercase;
    font-weight: bold;
}

.stars_button span:after, .stars_button span:before {
    top: -9px;
    position: absolute;
    font-size: 1.4em;
    color: #888888;
    content: '★';
}

.stars_button span:after{
    right: -28px;
}

.stars_button span:before{
    left: -28px;
}