.imageSized img{
    height: 150px;
    width: 150px;
}

.imageCircle img{
    border-radius: 50%;
    border: 0;
}

.maskImage img{
    mask-image: url(mask-image.svg);
    mask-size: 150px;
    mask-repeat: no-repeat;

    -webkit-mask-image: url(mask-image.svg);
    -webkit-mask-size: 150px;
    -webkit-mask-repeat: no-repeat;

}