:root {
    --preload-min: 150px;
    --preload-max: 200px;
}

* {
    margin: 0px;
    padding: 0px;
}

.page_loader_frame {
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 100%;
    background: radial-gradient(white, #bf72d6);
    animation: hide-preloader 4s ease;
    animation-iteration-count: 1;
    opacity: 0;
    z-index: 100;
}

.page_loader_container {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_loader_bar {
    background: #6f6f6f;
    height: 150px;
    width: 50px;
    animation: jump-bar 0.8s linear infinite;
}

.page_loader_bar:nth-child(1) {
    animation-delay: .4s;
}

.page_loader_bar:nth-child(2) {
    animation-delay: .8s;
}

.page_loader_bar:nth-child(3) {
    animation-delay: 1.2s;
}

@keyframes jump-bar {
    0% {
        height: var(--preload-min);
    }
    50% {
        height: var(--preload-max);
    }
    100% {
        height: var(--preload-min);
    }
}

@keyframes hide-preloader {
    from {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.football_box {
    height: 200px;
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
}

.ball_container {
    position: relative;
    min-width: 300px;
}

.ball {
    left: 0;
    top: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background: #f4efefd4;
    box-shadow: inset -4px -4px 6px 9px darkred;

    animation: move-on-field-x 1s linear 0s infinite alternate, move-on-field-y 1.2s linear 0s infinite alternate
}

.wall {
    width: 80px;
}

.wall_texture {
    background-color: #4d3d57;
    height: 100%;
    width: 100%;
}

@keyframes move-on-field-x {
    from {
        left: 0;
        /*transform: translateX(0%);*/
    }
    to {
        left: calc(100% - 32px);
        /* transform: translateX(100%);*/
    }
}

@keyframes move-on-field-y {
    from {
        top: 0;
        /*        transform: translateY(0%);*/
    }
    to {
        top: calc(100% - 32px);
        /*        transform: translateY(100%);*/
    }
}

.anim_figure {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(to bottom,
    #020057,#6f6f6f,
    #c9b5a1, #e25204,#020057);
    animation: anim_figure_frames 10s linear 0s infinite;
}

@keyframes anim_figure_frames {
    15% {
        background: linear-gradient(to bottom,
        #020057,#6f6f6f,
        #c9b5a1, #e25204,#020057);
        border-radius: 0;
        transform: rotate(0deg);
        background-position: 0 0;
    }
    30% {
        background: linear-gradient(to bottom,
        #020057,#6f6f6f,
        #c9b5a1, #e25204,#020057);
        border-radius: 0;
        transform: rotate(0deg);
        background-position: 0 300px;
    }
    45% {
        background: linear-gradient(to bottom,
        #020057,#6f6f6f,
        #c9b5a1, #e25204,#020057);
        border-radius: 0;
        transform: rotate(0deg) scale(0.7,0.7);
        background-position: 0 300px;
    }
    60%{
        background: linear-gradient(to bottom,
        #020057,#6f6f6f,
        #c9b5a1, #e25204,#020057);
        border-radius: 0;
        transform: rotate(90deg) scale(0.7,0.7);
        background-position: 0 300px;
    }
    75%{
        background: linear-gradient(to bottom,
        #4d3d57, #838383,
        #c9bcc3, #e25672,#4d3d57);
        border-radius: 0;
        transform: rotate(90deg) scale(0.7,0.7);
        background-position: 0 600px;
    }
    90%{
        background: linear-gradient(to bottom,
        #4d3d57, #838383,
        #c9bcc3, #e25672,#4d3d57);
        border-radius: 50%;
        transform: rotate(90deg) scale(0.7,0.7);
        background-position: 0 600px;
    }
}